<% provide(:title, "Contact Me") %>
<div class="page-header">
  <h1><%=t '.title', :default => 'Thank you for contacting me'%></h1>

  <p>Your submission has been received. Karen will respond to your inquiry and be in touch with you shortly.</p>

</div>
