<% provide(:title, "Contact Me") %>
<% provide(:content, "Thank you for contacting Karen.") %>

<div class="page-header">
  <h1><%=t '.title', :default => 'Thank you for your inquiry'%></h1>

  <p>Thank you, <strong><%= @contact.name %></strong>, your submission has been received. Karen will respond to your inquiry and be in touch with you within 24 hours.</p>

</div>
