<% provide(:title, "Languages and Technologies I Use") %>

  <div class="page-header">
    <h1>Languages and Technologies</h1>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <div class="col-sm-10">
          <label for="search" class="col-sm-2 control label" id="search">Search Skills:</label>
          <input type="text" class="form-control" placeholder="type to search Karen's skills..." ng-model="query">
        </div>
      </div>
    </form>

     <label for="sort" class="col-sm-2 control label" id="sort">Sort By:</label>
    <select ng-model="orderProp">
      <option ng-init="orderProp='alt'" value="alt">Alphabetical</option>
      <option value="frequency">Frequency of Use</option>
    </select>

  <div ng-controller="IndexCtrl">
    <div class="left" ng-repeat="skill in skills | filter:query | orderBy:orderProp">
      <div class="thumbnail">
      <img ng-src="/assets/logos/{{skill.shortname}}_s.png" alt="{{skill.alt}}" />
      <p>{{skill.description}}</p>
      </div>
    </div>
    </div>
  </div>
