<% provide(:title, "Web Development Work") %>
<% provide(:content, "Karen Kirr's Print Design work") %>

<div class="page-header">
  <h1><%=t '.title', :default => 'Print Design Work'%></h1>
  <div class="print-work">
  <p class="construction">Under Construction!</p>
  </div>
</div>
