<% provide(:title, "About Me") %>

<div class="page-header">
  <h1><%=t '.title', :default => 'About Me'%></h1>
<p>As a geeky lady who emancipated herself from the dying world of journalism, I pride myself on hard work and continuously striving to improve my skills. </p>

<p>With web development, often comes the demand for deft problem solving skills and keen sense of attention to detail. </p>
</div>
