<% provide(:title, "About Me") %>
<% provide(:content, "Learn About Karen") %>

<div class="page-header">
  <h1><%=t '.title', :default => 'About Me'%></h1>
<p>As a geeky lady (and ex-journalist) who emancipated herself from the dying world of journalism, and a freelance web developer / designer, I pride myself on hard work, staying self-motivated and continuously striving to improve my skills. </p>

<p>With web development, often comes the demand for deft problem solving skills and a keen sense of attention to detail. In web and life for that matter, there is endless learning to do. And to stay on top of one's field, you must be a doer.  Perhaps in no field more than web development.</p>

<p> While I can always be better, I strive to continue to pave the path that is learning for myself, and to always stay hungry for knowledge.</p>

<p>In my free time, I enjoy freelancing, serving the homeless, strumming guitar and spending time with friends.</p>

<p>-Karen Kirr</p>

<%= image_tag("kk-pic-1.jpg" ,:alt=>"Karen Kirr", :class=>"about-img") %>
<%= image_tag("kk-pic-2.jpg" ,:alt=>"Karen Kirr", :class=>"about-img") %>

</div>
