/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
}
body > div > div.page-header {
  margin: 15em auto .5em 2.3em;
}
body > div > div.md-9 > div > div > div {
  margin: 0 0 1em 0;
  padding: 0;
}
.navbar .nav {
  float: right !important;
}
body > div > div.md-9 > div > div {
  background: #363636;
}
.navbar .nav > li > a {
  color: #fff !important;
  text-shadow: none !important;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 1.5em;
}
.navbar .nav > li > a:hover {
  color: #ccc;
}
.navbar .nav > .active > a {
  color: #363636 !important;
  text-decoration: underline !important;
}
h1 {
  font-family: "Roboto Condensed", Helvetica, sans-serif !important;
}
/** logo **/
.kk {
  margin: 1em 0 0 5em;
}
