// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.form-actions {
  background: none;
  border: none;
}
textarea {
  height: 150px;
}
input, textarea {
  width: 350px !important;
}
input[type="submit"] {
  width: 206px !important;
}
